
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #f2f2f2;
    font-family: 'Montserrat', sans-serif;
}

nav{
    background: #222222;
    padding: 10px 40px 10px 70px
    border: 1px solid #000;
    border-left: none;
    border-right: none;

}

nav ul{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.brand-title {
  color: #f2f2f2;
  font-size: 24px;
  font-weight: bold;
  margin-right: 20px;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  color: #f2f2f2;
  text-decoration: none;
}

nav ul li a:hover {
  color: #fff;
}