{% extends 'layout.html' %}

{% block content %}
    <h1> Purpose </h1>
      <p> Whether you are looking to try something new or are an experienced bartendar, we can all agree that looking for 
      online beverage recipes is always such a hassle. For this reason, we created an app containing over 100 recipes
      for alcoholic and non-alcoholic beverages that can be accessed in a few simple steps.</p>

    <h2> What are our Goals? </h2>
      <p> Our goal was to create a user friendly app that provided numerous of beverage options to choose from. Beverages can
      be searched by name, first letter and/or ingredients. 
      </p>

<h3> Disclaimers </h3>
    <h4> Acceptance of our Terms</h4>
    <p> By visiting our website, viewing, accessing or otherwise using any services or information created, collected,
        compiled or submitted to The Cocktail App, you agree to be bound to the following Terms and Conditions of Service.
        If you do not want to be bound by our Terms and Conditions of Service your only option is not to visit, view, or 
        otherwise use the services of The Cocktail App. You understand, agree, and acknowlege that these Terms constitute a 
        legally bining agreement between you and The Cocktail App and that your use of the app shall indicate your conclusive
        acceptance to this agreement</p>

      <p> No one affiliated with The Cocktail App in no instance encourges drug or alcoholic beverage use. If user is underage
        parental guidance is advised. 
      </p>

{% endblock %}
