{% extends 'layout.html' %}

{% block content %}
<!DOCTYPE HTML>
<html>

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" type="text/css" href="/static/about.css" /> 
  <title>Link CSS to HTML</title>
</head>
<center>
  <div class="div-1">
  <body>
      <!-- Additional content for the Home page -->
      <h1> Welcome to Sip Savvy!</h1>
      
      <p> We make finding recipes for alcoholic and non-alcoholic beverages in a few quick easy steps.</p>

      <p> Don't have a drink in mind? No worries! With the Cocktail app there a variery of recipes to explore and to choose from. </p>

      <h2> Instructions!</h2
      <ul>
        <li>Click on “Search” on the navigation bar.</li>
        <li>Enter a drink keyword that you would like to find a drink recipe for</li>
        <li>Choose whatever drink you find the most enticing.</li>
        <li>You have the recipe for your drink! MIX AWAY!</li>
      </ul> 
  </body>
</center>
</html>
</div>

{% endblock %}