{% extends 'layout.html' %}

{% block content %}
<!DOCTYPE HTML>
<html>

<head>
  <title></title>
</head>

<body>
    <!-- Additional content for the Home page -->
    <h1> Welcome to the Cocktail App!</h1>
    
    <p> We make finding recipes for alcoholic and non-alcoholic beverages in a few quick easy steps.</p>

    <p> Don't have a drink in mind? No worries! With the Cocktain app there a variery of recipes to explore and to choose from. </p>

    <h2> Instructions... </h2

</body>
</html>  
{% endblock %}