<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <title>Sip Savvy Navbar!</title>
    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale0">
  </head>

  <body>
      <nav>
       <!-- <div class="brand-title">Sip Savvy</div> -->
            <ul>
              <h1 class="logo"> LOGO </h1>
              <div class="items">
                <li><a href="{{ url_for('home') }}">Home</a>
                <li><a href="{{ url_for('about') }}">About</a>
                <li><a href="{{ url_for('search') }}">Search</a>
                <li><a href="{{ url_for('contact') }}">Contact</a>
              </div>
            </ul>
      </nav>  

      {% block content %}{% endblock %}  <!-- Placeholder for the content of each page -->
  </body>
</html>