<!DOCTYPE html>
<html>
<head>
    <title>The Cocktail App</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <script src="script.js" defer></script>
</head>
<body>
    <nav class="navbar">
      <div class="brand-title">Brand Name</div>
      <a href="#" class="toggle-button">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </a>
        <div class="navbar-links">
          <ul>
            <li><a href="{{ url_for('home') }}">Home</a>
            <li><a href="{{ url_for('about') }}">About</a>
            <li><a href="{{ url_for('search') }}">Search</a>
            <li><a href="{{ url_for('contact') }}">Contact</a>
          </ul>
        </div>
      </nav>    

    {% block content %}{% endblock %}  <!-- Placeholder for the content of each page -->
</body>
</html>